.login-hover{
    
    align-items: center;
    display: flex;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    position: relative;
    
    
}
.login-hover:hover{
    background-color: rgb(55, 55, 255);
    align-items: center;
    display: flex;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    color: white;
    transition: 0.15s;
    position: relative;
}
.one{
    position: relative;
    display: flex;
}
.hover-header{
    display: flex;
    position: absolute;
   width: 180px;
    top: 60px;
   
}
.login-hover:hover .one{
    position: absolute;
    display: flex;
    width: 280px;
    border:solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: rgb(157, 157, 157);
    position: fixed;
    align-items: center;
    top: 60px;
    left: 730px;
    height: 50px;
    background-color: rgb(246, 241, 241);
    pointer-events: none;
    opacity: 1;
    transition: 0.15s;
    
    
}
.sigh-up{
    position: absolute;
    display: flex;
    font-size: 18px;
    left: 205px;
    color: blue; 
    margin-right: 10px;
    opacity: 0;
    pointer-events: none;
    
}
.login-hover:hover .sigh-up{
    opacity: 1;
}
.new-customer{
    position: absolute;
    display: flex;
    left: 0px;
    color: black;
    font-size: 17px;
    margin-left: 10px;
    opacity: 0;
    pointer-events: none;
    
}
.login-hover:hover .new-customer{
    opacity: 1;
    
}
.image{
    width: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.icon-hover{
    width: 255px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    position: fixed;
    opacity: 0;
    pointer-events: none;
}
.login-hover:hover .icon-hover {
    position: absolute;
    
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 280px;
    background-color: white;
    left: 730px;
    top: 110px;
    opacity: 1;
    pointer-events: none;
    
    
}
.my-profile{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 45px;
    color: black;
    line-height: 40px;
    
}

